#returnform {
    background-color: lightblue;
}
#borrowform{
  background-color: rgb(243, 178, 255);
}
#borrowtitle{text-align: center;}

#Page2{
  display: none;
}
.control{
  margin-bottom: 0.75rem;
}
